# For more information: https://laravel.com/docs/sail
version: '3'
services:
        
    laravel.test:
        build:
            context: ./vendor/laravel/sail/runtimes/8.0
            dockerfile: Dockerfile
            args:
                WWWGROUP: '${WWWGROUP}'
        image: sail-8.0/app
        ports:
            - '${APP_PORT:-80}:80'
        environment:
            WWWUSER: '${WWWUSER}'
            LARAVEL_SAIL: 1
        volumes:
            - '.:/var/www/html'
        networks:
            - sail
        depends_on:
            - mysql
    mysql:
        image: 'mysql:8.0'
        container_name: db_docker_laravel
        ports:
            - '${FORWARD_DB_PORT:-3306}:3306'
        environment:
            MYSQL_ALLOW_EMPTY_PASSWORD: 'yes'
        volumes:
            - 'sailmysql:/var/lib/mysql'
        networks:
            - sail
        healthcheck:
          test: ["CMD", "mysqladmin", "ping"]

    phpmyadmin:
        image: phpmyadmin
        container_name: phpmyadmin_docker_laravel
        restart: always
        depends_on: 
            - mysql
        ports: 
            - 8080:80
        environment: 
            PMA_HOST: mysql
        networks: 
            - sail

networks:
    sail:
        driver: bridge
volumes:
    sailmysql:
        driver: local
